{{> nav}}

<div class="container mt-5">
  <h5>Edit Show:</h5>
  <small>Fields with a * are required - all other fields are optional, but recommended.</small>

  <form class="mt-4" action="/edit-show/{{show._id}}" enctype="multipart/form-data" method="post">
    <div class="form-group">
      {{#if show.image}}
        <img src="{{show.image}}" alt="{{show.name}}" class="img-fluid mb-4">
      {{else}}
      {{/if}}
    </div>
    <div class="form-group">
      <label for="inputDate">Date *</label>
      <input type="date" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputDate" name="date" required="true" min="{{dateNow}}" value="{{show.date}}">
    </div>

    <div class="form-group">
      <label for="inputName">Name *</label>
      <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputName" name="name" required="true" value="{{show.name}}">
    </div>

    <div class="form-group">
      <label for="inputVenue">Venue *</label>
      <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputVenue" name="venue" required="true" value="{{show.venue}}">
    </div>

    <div class="form-group">
      <label for="inputAddress">Address *</label>
      <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputAddress" name="address" required="true" value="{{show.address}}">
    </div>

    <div class="form-group">
      <label for="inputCity">City *</label>
      <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputCity" name="city" required="true" value="{{show.city}}">
    </div>

    <div class="form-group">
      <label for="inputState">State *</label>
      <input type="hidden" id="selectedState" value="{{show.state}}">
      <select class="form-control col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" id="inputState" name="state" required="true" value="{{show.state}}">
        <option value="AL">AL</option>
      	<option value="AK">AK</option>
      	<option value="AR">AR</option>
      	<option value="AZ">AZ</option>
      	<option value="CA">CA</option>
      	<option value="CO">CO</option>
      	<option value="CT">CT</option>
      	<option value="DC">DC</option>
      	<option value="DE">DE</option>
      	<option value="FL">FL</option>
      	<option value="GA">GA</option>
      	<option value="HI">HI</option>
      	<option value="IA">IA</option>
      	<option value="ID">ID</option>
      	<option value="IL">IL</option>
      	<option value="IN">IN</option>
      	<option value="KS">KS</option>
      	<option value="KY">KY</option>
      	<option value="LA">LA</option>
      	<option value="MA">MA</option>
      	<option value="MD">MD</option>
      	<option value="ME">ME</option>
      	<option value="MI">MI</option>
      	<option value="MN">MN</option>
      	<option value="MO">MO</option>
      	<option value="MS">MS</option>
      	<option value="MT">MT</option>
      	<option value="NC">NC</option>
      	<option value="NE">NE</option>
      	<option value="NH">NH</option>
      	<option value="NJ">NJ</option>
      	<option value="NM">NM</option>
      	<option value="NV">NV</option>
      	<option value="NY">NY</option>
      	<option value="ND">ND</option>
      	<option value="OH">OH</option>
      	<option value="OK">OK</option>
      	<option value="OR">OR</option>
      	<option value="PA">PA</option>
      	<option value="RI">RI</option>
      	<option value="SC">SC</option>
      	<option value="SD">SD</option>
      	<option value="TN">TN</option>
      	<option value="TX">TX</option>
      	<option value="UT">UT</option>
      	<option value="VT">VT</option>
      	<option value="VA">VA</option>
      	<option value="WA">WA</option>
      	<option value="WI">WI</option>
      	<option value="WV">WV</option>
      	<option value="WY">WY</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputZip">Zip *</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputZip" name="zip" required="true" max="10" value="{{show.zip}}">
    </div>

    <div class="form-group">
      <label for="inputStart">Start Time *</label>
      <input type="time" class="form-control col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2" id="inputStart" name="start" required="true" value="{{show.start}}">
    </div>

    <div class="form-group">
      <label for="inputEnd">End Time *</label>
      <input type="time" class="form-control col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2" id="inputEnd" name="end" required="true" value="{{show.end}}">
    </div>

    <div class="form-group">
      <label for="inputAdmission">Regular Admission</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="inputAdmission" name="regular_admission_fee" value="{{show.regular_admission_fee}}">
      </div>
      <small>Leave blank for free admission</small>
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="earlyAdmissionYes">Early Admission?</label>
      </div>
      {{#if show.early_admission}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="earlyAdmissionYes" name="early_admission" onclick="displayEarlyAdmissionFields()" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="earlyAdmissionNo" name="early_admission" onclick="displayEarlyAdmissionFields()" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="earlyAdmissionYes" name="early_admission" onclick="displayEarlyAdmissionFields()" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" id="earlyAdmissionNo" name="early_admission" onclick="displayEarlyAdmissionFields()" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    {{#if show.early_admission}}
    <div id="earlyAdmissionFields" class="d-block">
      <div class="form-group">
        <label for="earlyAdmissionTime">Early Admission Time</label>
        <input type="time" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionTime" name="early_admission_time" value="{{show.early_admission_time}}">
      </div>
      <div class="form-group">
        <label for="inputAdmission">Early Admission Fee</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionFee" name="early_admission_fee" value="{{show.early_admission_fee}}">
        </div>
        <small>Leave blank for free early admission</small>
      </div>
    </div>
    {{else}}
    <div id="earlyAdmissionFields" class="d-none">
      <div class="form-group">
        <label for="earlyAdmissionTime">Early Admission Time</label>
        <input type="time" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionTime" name="early_admission_time" value="">
      </div>
      <div class="form-group">
        <label for="inputAdmission">Early Admission Fee</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="earlyAdmissionFee" name="early_admission_fee" value="">
        </div>
      </div>
    </div>
    {{/if}}


    <div class="form-group">
      <label for="numberOfDealers">Number Of Dealers</label>
      <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="numberOfDealers" name="number_of_dealers" value="{{show.number_of_dealers}}">
    </div>

    <div class="form-group">
      <label for="numberOfTables">Number Of Tables</label>
      <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="numberOfTables" name="number_of_tables" value="{{show.number_of_tables}}">
    </div>

    <div class="form-group">
      <label for="sizeOfTables">Size Of Tables</label>
      <input type="text" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="sizeOfTables" name="size_of_tables" value="{{show.size_of_tables}}">
    </div>

    <div class="form-group">
      <label for="tableRent">Table Rent</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input type="number" class="form-control col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" id="tableRent" name="table_rent" value="{{show.table_rent}}">
      </div>
    </div>

    <div id="featuedDealers" class="form-group">
      <label for="inputFeaturedDealers">Dealer List</label><br>

      {{show.featured_dealers_index}}

      <div id="featuedDealersContainer">
        {{#each show.featured_dealers}}
        <div id="featuredDealer{{@index}}" class="featured-dealer form-inline">
          <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-3" name="featured_dealers" value="{{this}}"><input id="featuredDealerDeleteButton{{@index}}" type="button" class="btn btn-danger ml-2 mb-3" onclick="deleteFeaturedDealer()" value="Delete">
        </div>
        {{/each}}
      </div>
      <input type="button" id="addFeaturedDealerButton" class="btn btn-success" onclick="addFeaturedDealer()" value="Add Dealer">
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="cdDealers">CD Dealers?</label>
      </div>
      {{#if show.cd_dealers}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cd_dealers" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cd_dealers" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cd_dealers" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cd_dealers" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="cassetteDealers">Cassette Dealers?</label>
      </div>
      {{#if show.cassette_dealers}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cassette_dealers" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cassette_dealers" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cassette_dealers" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="cassette_dealers" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="fortyFiveDealers">45 Dealers?</label>
      </div>
      {{#if show.fortyfive_dealers}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="fortyfive_dealers" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="fortyfive_dealers" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="fortyfive_dealers" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="fortyfive_dealers" value="no"checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="sevetyEightDealers">78 Dealers?</label>
      </div>
      {{#if show.seventyeight_dealers}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="seventyeight_dealers" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="seventyeight_dealers" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="seventyeight_dealers" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="seventyeight_dealers" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="memorabiliaDealers">Memorabilia Dealers?</label>
      </div>
      {{#if show.memorabilia_dealers}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="memorabilia_dealers" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="memorabilia_dealers" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="memorabilia_dealers" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="memorabilia_dealers" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="foodDrink">Food/Drink?</label>
      </div>
      {{#if show.food_drink}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="food_drink" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="food_drink" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="food_drink" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="food_drink" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <div class="form-check form-check-inline">
        <label for="handicappedAccess">Handicapped Access?</label>
      </div>
      {{#if show.handicapped_access}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="handicapped_access" value="yes" checked>
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="handicapped_access" value="no">
          No
        </div>
      {{else}}
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="handicapped_access" value="yes">
          Yes
        </div>
        <div class="form-check form-check-inline">
          <input type="radio" class="form-check-input" name="handicapped_access" value="no" checked>
          No
        </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="inputMoreInformation">More Information</label>
      <textarea class="form-control col-8 " id="inputMoreInformation" name="more_information" rows="4">{{show.more_information}}</textarea>
    </div>

    <div class="form-group">
      <label for="inputContactName">Contact Name</label>
      <input type="text" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputContactName" name="contact_name" value="{{show.contact_name}}">
    </div>

    <div class="form-group">
      <label for="inputContactPhone">Contact Phone</label>
      <input type="tel" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputContactPhone" name="contact_phone" value="{{show.contact_phone}}">
    </div>

    <div class="form-group">
      <label for="inputContactEmail">Contact Email</label>
      <input type="email" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputContactEmail" name="contact_email" value="{{show.contact_email}}">
    </div>

    <div class="form-group">
      <label for="inputWebsite">Website</label>
      <input type="url" class="form-control col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" id="inputWebsite" name="website" value="{{show.website}}">
    </div>

    <div class="form-group">
      <label for="inputImage">Upload New Image</label>
      <input type="file" accept="image/*,.pdf" class="form-control-file" id="inputImage" name="image">
    </div>

    <div class="form-group mt-5">
      <button type="submit" class="btn btn-success">Save</button><a class="btn btn-link" href="/my-shows">Cancel</a>
    </div>

  </form>
</div>

<script type="text/javascript" src="/javascripts/edit-show.js"></script>
