<div class="alert gun-metal-bg alert-dismissible fade show text-center" role="alert" style="margin-bottom: 0;">
      <form action="https://www.paypal.com/donate" method="post" target="_blank">
        <input type="hidden" name="hosted_button_id" value="4J8RJ9KXFJDJ8" />
        <input type="hidden" name="item_name" value="Record Show Mania Donation" />
          <button class="btn btn-link" type="submit">Help keep our website free - click/tap here to make a donation =)</button>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </form>
</div>

<br>

{{> nav}}

<div class="header text-center mt-2 p-5 gun-metal-bg">
  <br>
  <h1 class="custom-h1">Welcome to Record Show Mania!</h1>
  <br>
  <p class="lead">We are the ultimate spot for vinyl lovers to find local record shows and connect with fellow collectors.</p>
  <p class="lead"><strong>Organizers - </strong>you may register and list your shows here for free!</p>
  <br>
  <p>
    <a href="/login" class="btn btn-success mr-3">Login</a>  |  <a class="ml-3" href="/register">Register</a>
  </p>
  <br>
  <p class="lead"><strong>Vendors - </strong>wanna sell at a Record Riot? Go to <a href="http://www.vinylsteve.com">vinylsteve.com</a> to register!</p>
  <br>
</div>

<div class="gun-metal-bg text-center mb-5">
  <p>Brought to you by the good folks at:</p>

  <header id="link-header" class="d-flex justify-content-center pb-5">
    <a class="nav-link" href="https://www.recordriots.com">
      <img class="img-fluid ml-3" height="80" width="80" src="{{host}}/images/record-riots-logo.png"
        alt="Record Riots">
    </a>

    <a class="nav-link" href="https://www.irisrecordsjc.com">
      <img class="img-fluid" height="100" width="90" src="{{host}}/images/iris-records-logo.png"
        alt="Iris Records">
    </a>

    <a class="nav-link" href="https://www.groovycoasters.com">
        <img class="img-fluid" height="120" width="120" src="{{host}}/images/groovycoasters-logo.png"
        alt="Groovy Coasters">
    </a>
  </header>
</div>

<div class="mt-5 py-5 mb-5 text-center">
  <div class="mb-5">
      <h5>Need help promoting your event?</h5>
  </div>

  <div class="col-12 col-md-6 mb-5 mx-auto">
      <img src="{{host}}/images/orange-cat-social-media.png" alt="Orange Cat Social Media" class="img-fluid">
  </div>

  <div class="mb-3">
    <h5 class="mt-3">Contact <a href="https://forms.gle/rZeeDC5vamnYPqFV9" target="_blank" rel="noopener noreferrer">Orange Cat Social Media</a> today!</h5>
  </div>

  <a href="https://forms.gle/rZeeDC5vamnYPqFV9" class="btn btn-success">Go to Contact Form</a>
</div>

<div class="gun-metal-bg mt-5 mb-5">
  <div class="header-wrapper">
    <div class="text-center pt-5">
      <h1 id="header-message" class="header-message pt-5 pb-3">Looking for a record show?</h1>
    </div>
    {{> searchbox}}
  </div>
</div>

{{#if message}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<div class="container mt-2 mb-5">
  <h3 class="py-5">Upcoming Shows:</h3>
  {{#each shows}}
  <div class="show">
    <div class="mb-3 pl-1 pr-1 rounded">
      <div class="row">
        <div class="col-4 pl-2 pr-1">
          {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-8 pl-2">
          <form id="show-{{this.id}}" action="/{{this.name_formatted}}/{{this.date_og}}" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
          </form>
          <a href="#" onclick="document.getElementById('show-{{this.id}}').submit(); return false;">{{this.name}}</a>
          <br>
          {{#if this.isInternational}}
          {{this.country}}
          {{else}}
          {{this.city}}, {{this.state}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>

<script src="javascripts/searchbox.js"></script>
<script src="javascripts/show-more.js"></script>
