{{> nav}}

{{#if message}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}

<div class="container">
  {{> searchbox}}
  <div class="container">
    <br>
    <h3>Recently Added Shows:</h3>
    <br>
    {{#each shows}}
      <div class="card shadow p-3 mb-2 bg-white rounded">
        <div class="card-body">
          {{this.date}} <br>
          <a href="" data-toggle="modal" data-target="#showDetailModal{{this.id}}">
            {{this.name}} <br>
            {{this.venue}} <br>
            {{this.city}}, {{this.state}}
          </a> <br>
          {{this.start}} to {{this.end}}

          <!-- Modal -->
          <div class="modal fade" id="showDetailModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="showDetailModalLabel{{this.id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="showDetailModalLabel{{this.id}}">Show Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{this.date}} <br>
                  {{this.name}} <br>
                  <a href="https://maps.google.com/?q={{this.address}}+{{this.city}}+{{this.state}}" target="_blank">
                    {{this.venue}} <br>
                    {{this.address}} <br>
                    {{this.city}}, {{this.state}} {{this.zip}} <br>
                  </a>
                  Time: {{this.start}} to {{this.end}} <br>
                  Regular Admission: {{this.regular_admission_fee}} <br>
                  Early Admission? {{this.early_admission}} <br>
                  {{#if this.early_admission}}
                    Early Admission Time: {{this.early_admission_time}} <br>
                    Early Admission Fee: {{this.early_admission_fee}} <br>
                  {{/if}}
                  Number Of Dealers: {{this.number_of_dealers}} <br>
                  Number Of Tables: {{this.number_of_tables}} <br>
                  Size Of Tables: {{this.size_of_tables}} <br>
                  Table Rent: {{this.table_rent}} <br>
                  CD Dealers? {{this.cd_dealers}} <br>
                  45 Dealers? {{this.fortyfive_dealers}} <br>
                  78 Dealers? {{this.seventyeight_dealers}} <br>
                  Food/Drink? {{this.food_drink}} <br>
                  Handicapped Access? {{this.handicapped_access}} <br>
                  More Information: {{this.more_information}} <br>
                  Posted by: {{this.posted_by}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
        </div>
      </div>
    {{/each}}
  </div>
</div>
