{{> nav}}

<div class="container">
  {{> searchbox}}
  <div class="container mt-5">
    <br>
    <h3>Search Results:</h3>
    <br>
    <table class="table table-striped">
      <tbody>
        {{#each shows}}
      <div class="card shadow p-3 mb-2 bg-white rounded">
        <div class="card-body">
          <button class="btn btn-link" data-toggle="modal" data-target="#showDetailModal{{this.id}}" type="button" name="button">
            {{this.name}} <br>
            {{this.venue}} - {{this.city}}, {{this.state}} <br>
          </button> <br>
          {{this.start}} to {{this.end}}
          
          <!-- Modal -->
          <div class="modal fade" id="showDetailModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="showDetailModalLabel{{this.id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="showDetailModalLabel{{this.id}}">Show Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{this.name}} <br>
                  <a href="https://maps.google.com/?q={{this.address}}+{{this.city}}+{{this.state}}" target="_blank">
                    {{this.venue}} <br>
                    {{this.address}} <br>
                    {{this.city}}, {{this.state}} {{this.zip}} <br>
                  </a>
                  Time: {{this.start}} to {{this.end}} <br>
                  Regular Admission: {{this.regular_admission_fee}} <br>
                  Early Admission? {{this.early_admission}} <br>
                  {{#if this.early_admission}}
                    Early Admission Time: {{this.early_admission_time}} <br>
                    Early Admission Fee: {{this.early_admission_fee}} <br>
                  {{/if}}
                  Number Of Dealers: {{this.number_of_dealers}}
                  Number Of Tables: {{this.number_of_tables}}
                  Size Of Tables: {{this.size_of_tables}}
                  Table Rent: {{this.table_rent}}
                  CD Dealers? {{this.cd_dealers}}
                  45 Dealers? {{this.fortyfive_dealers}}
                  78 Dealers? {{this.seventyeight_dealers}}
                  Food/Drink? {{this.food_drink}}
                  Handicapped Access? {{this.handicapped_access}}
                  More Information: {{this.more_information}} <br>
                  Posted by: {{this.posted_by}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->

        </div>
      </div>
    {{/each}}
      </tbody>
    </table>
    <a href="/">Return to main page</a>
  </div>
</div>
