<div class="header">
  <div class="header-wrapper">
    {{> nav}}
    <div class="text-center">
      <h2 id="header-message" class="header-message mt-5 mb-5">Looking for a record show?</h2>
    </div>
    {{> searchbox}}
  </div>
</div>

  <div class="container mt-5">
    <h3 class="mt-5 mb-5">{{meta_content}}:</h3>
    {{#each shows}}
    <div class="mb-3 pl-1 pr-1 rounded">
      <div class="row">
        <div class="col-3 pl-2 pr-1">
          {{this.month}} {{this.day}}, {{this.year}}
        </div>
        <div class="col-9 pl-2">
          <form id="show-{{this.id}}" action="/{{this.name_formatted}}/{{this.date_og}}" method="post">
            <input type="hidden" name="id" value="{{this.id}}">
          </form>
          <a href="#" onclick="document.getElementById('show-{{this.id}}').submit(); return false;">{{this.name}}</a>
          <br>
          {{#if this.isInternational}}
          {{this.country}}
          {{else}}
          {{this.city}}, {{this.state}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
    <div class="mt-5 mb-5">
      <a href="/">Return to main page</a>
    </div>
  </div>
</div>

<script src="javascripts/searchbox.js"></script>
