<div class="header">
  <div class="transparent-cover">
    {{> nav}}
    {{> searchbox}}
  </div>
</div>

  <div class="container mt-5">
    <h3 class="mt-5 mb-5">Search Results:</h3>
    {{#each shows}}
    <div class="mb-3 pl-1 pr-1 rounded">
      <div class="row">
        <div class="col-3 pl-2 pr-1">
          {{this.month}} {{this.day}}
        </div>
        <div class="col-9 pl-2">
          <a href="" data-toggle="modal" data-target="#showDetailModal{{this.id}}">
            {{this.name}}
          </a>
          <br>
          {{this.city}}, {{this.state}}
        </div>
          <!-- Modal -->
          <div class="modal fade" id="showDetailModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="showDetailModalLabel{{this.id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="showDetailModalLabel{{this.id}}">{{this.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                  {{#if this.img}}
                    <img src="{{this.image}}" alt="{{this.name}}" class="img-fluid mb-4"> <br>
                  {{/if}}
                </p>
                  <p><strong>{{this.date}}</strong></p>
                  <p>
                    <a href="https://maps.google.com/?q={{this.address}}+{{this.city}}+{{this.state}}" target="_blank">
                      {{this.venue}} <br>
                      {{this.address}} <br>
                      {{this.city}}, {{this.state}} {{this.zip}} <br>
                    </a>
                  </p>
                  <p><strong>Time:</strong> {{this.start}} to {{this.end}}</p>
                  <p><strong>Regular Admission:</strong> {{#if this.regular_admission_fee}}${{this.regular_admission_fee}}{{else}}Free{{/if}}</p>
                  {{#if this.early_admission}}
                    <p><strong>Early Admission:</strong> Yes <i class="fas fa-check"></i></p>
                    <p><strong>Early Admission Time:</strong> {{this.early_admission_time}}</p>
                    <p><strong>Early Admission Fee:</strong> {{#if this.early_admission_fee}}${{this.early_admission_fee}}{{else}}Free{{/if}}</p>
                  {{/if}}
                  {{#if this.number_of_dealers}}
                    <p><strong>Number Of Dealers:</strong> {{this.number_of_dealers}}</p>
                  {{/if}}
                  {{#if this.number_of_tables}}
                    <p><strong>Number Of Tables:</strong> {{this.number_of_tables}}</p>
                  {{/if}}
                  {{#if this.size_of_tables}}
                    <p><strong>Size Of Tables:</strong> {{this.size_of_tables}}</p>
                  {{/if}}
                  {{#if this.table_rent}}
                    <p><strong>Table Rent:</strong> ${{this.table_rent}}</p>
                  {{/if}}
                  {{#if this.featured_dealers}}
                    <p><strong>Dealer List:</strong></p>
                    <ul>
                      {{#each this.featured_dealers}}
                      <li>{{this}}</li>
                      {{/each}}
                    </ul>
                  {{/if}}
                  {{#if this.cd_dealers}}
                    <p><strong>CD Dealers:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.cassette_dealers}}
                    <p><strong>Cassette Dealers:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.fortyfive_dealers}}
                    <p><strong>45 Dealers:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.seventyeight_dealers}}
                    <p><strong>78 Dealers:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.memorabilia_dealers}}
                    <p><strong>Memorabilia Dealers:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.food_drink}}
                    <p><strong>Food/Drink:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.handicapped_access}}
                    <p><strong>Handicapped Access:</strong> Yes <i class="fas fa-check"></i></p>
                  {{/if}}
                  {{#if this.more_information}}
                    <p><strong>More Information:</strong><span class="line-breaks">{{this.more_information}}</span></p>
                  {{/if}}
                  {{#if this.contact_name}}
                    <p><strong>Contact Name:</strong> {{this.contact_name}}</p>
                  {{/if}}
                  {{#if this.contact_phone}}
                    <p><strong>Contact Phone:</strong> <a href="tel:{{this.contact_phone}}">{{this.contact_phone}}</a></p>
                  {{/if}}
                  {{#if this.contact_email}}
                    <p><strong>Contact Email:</strong> <a href="mailto:{{this.contact_email}}">{{this.contact_email}}</a></p>
                  {{/if}}
                  {{#if this.website}}
                    <p><strong>Website:</strong> <a href="{{this.website}}">{{this.website}}</a></p>
                  {{/if}}
                  {{#if this.facebook}}
                    <p><strong>Facebook Page:</strong> <a href="{{this.facebook}}">{{this.facebook}}</a></p>
                  {{/if}}
                    <p><strong>Posted by:</strong> {{this.posted_by}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
        </div>
      </div>
    {{/each}}
    <div class="mt-5 mb-5">
      <a href="/">Return to main page</a>
    </div>
  </div>
</div>
