{{> nav}}

<div class="container">
  <p>
    {{#show}}
      {{#if this.img}}
        <img src="{{this.image}}" alt="{{this.name}}" class="img-fluid mb-4"> <br>
      {{/if}}
  </p>
  <p><strong>{{this.date}}</strong></p>
  <p><strong>{{this.name}}</strong></p>
  <p>
    <a href="https://maps.google.com/?q={{this.address}}+{{this.city}}+{{this.state}}" target="_blank">
      {{this.venue}} <br>
      {{this.address}} <br>
      {{this.city}}, {{this.state}} {{this.zip}} <br>
    </a>
  </p>
  <p><strong>Time:</strong> <span class="white-text">{{this.start}} to {{this.end}}</span></p>
  <p><strong>Regular Admission:</strong> <span class="white-text">{{#if this.regular_admission_fee}}${{this.regular_admission_fee}}{{else}}Free{{/if}}</span></p>
  {{#if this.early_admission}}
    <p><strong>Early Admission:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
    <p><strong>Early Admission Time:</strong> <span class="white-text">{{this.early_admission_time}}</span></p>
    <p><strong>Early Admission Fee:</strong> <span class="white-text">{{#if this.early_admission_fee}}${{this.early_admission_fee}}{{else}}Free{{/if}}</span></p>
  {{/if}}
  {{#if this.number_of_dealers}}
    <p><strong>Number Of Dealers:</strong> <span class="white-text">{{this.number_of_dealers}}</span></p>
  {{/if}}
  {{#if this.number_of_tables}}
    <p><strong>Number Of Tables:</strong> <span class="white-text">{{this.number_of_tables}}</span></p>
  {{/if}}
  {{#if this.size_of_tables}}
    <p><strong>Size Of Tables:</strong> <span class="white-text">{{this.size_of_tables}}</span></p>
  {{/if}}
  {{#if this.table_rent}}
    <p><strong>Table Rent:</strong> <span class="white-text">${{this.table_rent}}</span></p>
  {{/if}}
  {{#if this.featured_dealers}}
    <p><strong>Dealer List:</strong></p>
    <ul>
      {{#each this.featured_dealers}}
      <li><span class="white-text">{{this}}</span></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#if this.cd_dealers}}
    <p><strong>CD Dealers:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.cassette_dealers}}
    <p><strong>Cassette Dealers:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.fortyfive_dealers}}
    <p><strong>45 Dealers:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.seventyeight_dealers}}
    <p><strong>78 Dealers:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.memorabilia_dealers}}
    <p><strong>Memorabilia Dealers:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.food_drink}}
    <p><strong>Food/Drink:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.handicapped_access}}
    <p><strong>Handicapped Access:</strong> <span class="white-text">Yes <i class="fas fa-check"></i></span></p>
  {{/if}}
  {{#if this.more_information}}
    <p><strong>More Information:</strong> <span class="line-breaks white-text">{{this.more_information}}</span></p>
  {{/if}}
  {{#if this.contact_name}}
    <p><strong>Contact Name:</strong> <span class="white-text">{{this.contact_name}}</span></p>
  {{/if}}
  {{#if this.contact_phone}}
    <p><strong>Contact Phone:</strong> <a href="tel:{{this.contact_phone}}">{{this.contact_phone}}</a></p>
  {{/if}}
  {{#if this.contact_email}}
    <p><strong>Contact Email:</strong> <a href="mailto:{{this.contact_email}}">{{this.contact_email}}</a></p>
  {{/if}}
  {{#if this.website}}
    <p><strong>Website:</strong> <a href="{{this.website}}" target="_blank">{{this.website}}</a></p>
  {{/if}}
  {{#if this.facebook}}
    <p><strong>Facebook Page:</strong> <a href="{{this.facebook}}" target="_blank">{{this.facebook}}</a></p>
  {{/if}}
    <p><strong>Posted by:</strong> <span class="white-text">{{this.posted_by}}</span></p>
  {{/show}}

  <div class="mt-5 mb-5">
    <a href="/">Return to main page</a>
  </div>
</div>
